body {
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
}

.container,
.new-book-container,
.bookshelf {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  width: clamp(800px, 70dvw, 90%);
  height: clamp(800px, 70dvh, 90%);
  grid-template-columns: 200px 1fr;
  gap: 2rem;
}

.bookshelf {
  gap: 2rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fill, 200px);
}

.bookInfo {
 text-wrap: pretty;
 text-align: center;
 padding: 0.75rem;
}

.book-card:nth-child(2n + 1) {
  background-color: rgba(197, 23, 23, 0.571);
}

.book-card:nth-child(2n + 2) {
  background-color: rgba(20, 151, 16, 0.571);
}

button {
 border-radius: 0.5rem;
 margin: 0.4rem;
}